<h1>Hi <%=name%>さん</h1>
<p>もっちはデブ</p>
<body>
    <div id = "weightGraph">
        <style type = "text/css">
        #weightGraph{
            width: 60%;
           
        }
        </style>
    <canvas id="myChart"></canvas>
　　　　　　　　<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'line',
    data: {
      labels: ['8月1日', '8月2日', '8月3日', '8月4日', '8月5日', '8月6日', '8月7日'],
      datasets: [
        {
          label: '今の<%=name%>さん',
          data: [57,58,57,58.5,59,57.2,58.3],
          backgroundColor: "rgba(219,39,91,0.5)"
        },{
          label: '今のもっち',
          data: [126, 145, 153, 155, 161, 186, 193],
          backgroundColor: "rgba(130,201,169,0.5)"
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: '体重の記録'
      },
      scales: {
        /*xAxes: [{
                type: 'time',
                time: {
                    unit: 'day'
                }
            }],*/
        yAxes: [{
          ticks: {
            suggestedMax: 200,
            suggestedMin: 70,
            stepSize: 10,
            callback: function(value, index, values){
              return  value +  'kg'
            }
          }
        }]
      },
    }
  });
    </script>
</div>
 

<form method = "POST">
    <div>
        <label for = "date">Date</label>
        <input type = "date" id = "date" name = "date" required>
    
        <label for = "weight">Weight</label>
        <input type = "weight" id = "weight" name = "weight" required>
    </div>
</form>


<form action="/logout?_method=DELETE" method="POST">
    <button type= "submit">Log Out</button>
</form>
</body>