<h3><i class="fas fa-weight"></i> SHAREDIET</h3>
<div class="section">
  <p class="leade">App to share weight with your friends</p>
</div>

<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
  <i class="fab fa-google left"></i>LOG IN WITH GOOGLE</a>
</div>